<div class="container">

    <div class="row justify-content-center">

        <div class="col-md-8">

            <h1>Iniciar sesión</h1>

            <hr>

            <form action="/inicio-sesion" method="POST" class="login-form">

                <label>
                    Usuario: <input type="text" name="username">
                </label>

                <label>
                    Contraseña: <input type="password" name="pwd">
                </label>

                <input type="submit" value="Iniciar sesión" class="btn btn-dark">

            </form>

        </div>

    </div>

</div>