<div class="container">

    <div class="row justify-content-center">

        <div class="col-md-8">

            <h1>Formulario Zara (cutre)</h1>

            <hr>

            <form action="/resultados" method="GET" class="search-form">

                <label>
                    Prenda: <input type="text" name="clothe">
                </label>

                <label>
                    Temporada: <input type="text" name="season">
                </label>

                <label>
                    Talla: <input type="text" name="size">
                </label>

                <input class="btn btn-dark" type="submit" value="Mostrar resultados">

            </form>

        </div>

    </div>

</div>