<div class="container">

    <h1>Resultados de tu búsqueda para la termporada {{season}}</h1>

    <hr>

    <p>Puedes mirar la terminal, aunque también puedes ver aquí lo que debes enviar a la BBDD:</p>

    <ul>
        <li>Prenda: {{clothe}}</li>
        <li>Temporada: {{season}}</li>
        <li>Talla: {{size}}</li>
    </ul>
</div>